<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">一流区块链营销团队</h2>
                <hr class="light">
                <p class="text-faded">团队来自国际4A广告公司奥美及一流区块链公司，多年创业经验，拿下多名投资人数百万融资；也曾在传统营销领域服务于百度、腾讯、奥迪、宝洁、联想等知名企业。</p>
                <a href="#contact" class="btn btn-default btn-xl">合作联系</a>
            </div>
        </div>
    </div>
</section>
