<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">更专业 更用心</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>营销咨询</h3>
                    <p class="text-muted">一对一项目营销诊断，找到最适合项目的营销方案。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>社群推广</h3>
                    <p class="text-muted">在百万社群资源中进行推广，包括微信群、电报群等。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>媒体投放</h3>
                    <p class="text-muted">选择匹配媒体，沟通排期并进行针对性投放。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>路演宣传</h3>
                    <p class="text-muted">区块链项目多年的运营经验支撑，辅助项目方进行全球范围内的路演。</p>
                </div>
            </div>
        </div>
    </div>
</section>
